table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
}
table th {
  background-color: black;
  color: whitesmoke;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}
#actions {
  background-color: red;

  color: whitesmoke;
}
